<h1>Conversations</h1>

<% @conversations.each do |conversation| %>
  <div class="well conversation">
    <h3>With <%= conversation.person.city %> (<%= conversation.person.key %>)</h3>
    <div class="pull-right">
      <button class="btn btn-warning">Call Them</button>
      <button class="btn">Archive</button>
    </div>
    <% conversation.messages.each do |m| %>
      <p><strong><%= m.from_type == 'Person' ? 'Them' : 'You' %>:</strong> <%= m.body %></p>
    <% end %>
    <%= form_for Message.new do |f| %>
      <%= hidden_field_tag :conversation_id, conversation.id %>
      <%= f.text_area :body, :rows => 3 %>
      <%= submit_tag 'Respond', :class => 'btn btn-success' %>
    <% end %>
  </div>
<% end %>
